<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product List
    </ion-title>
    <ion-buttons slot="end">
       <ion-button [routerLink]="['/create-product']" color="success">
        Add Prduct
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Product List-->
  <ion-list>
    <ion-item *ngFor="let product of Products" class="user-list">
      <ion-label>
        <h2>{{product.name}}</h2>
        <h3>{{product.price}}</h3>
        <p>{{product.desc}}</p>
      </ion-label>
      <div>
        <ion-button [routerLink]="['/edit-product/', product.$key]" color="warning"> Edit</ion-button>
        <ion-button (click)="deleteProduct(product.$key)" color="danger"> Delete</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
