<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="productForm" (ngSubmit)="formSubmit()">

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        ต้องป้อนชื่อสินค้าก่อน.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
        ชื่อสินค้าต้องไม่น้อยกว่า 5 ตัวอักษร
      </span>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="desc" type="text" required>
        </ion-input>
      </ion-item>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.desc.errors?.required">
        ต้องป้อนรายละเอียดสินค้าก่อน
      </span>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="text" required>
        </ion-input>
      </ion-item>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.price.errors?.required">
        ต้องป้อนราคาสินค้าก่อน
      </span>

      <ion-item>
        <ion-label position="floating">Qty</ion-label>
        <ion-input formControlName="qty" type="text" required>
        </ion-input>
      </ion-item>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.qty.errors?.required">
        ต้องป้อนจำนวนสินค้าก่อน
      </span>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add new product</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>